@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-90deg, #000044, black);
  font-family: "Lato", Arial;
  font-size: bold;
  color: white;
}

header {
  background-image: linear-gradient(-90deg, black, #000044);
  border-radius: 15px;
  margin: 20px;
  padding: 5px 40px 20px 40px;
  /*box-shadow: 0px 0px 15px #303030;*/
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  padding-bottom: -5px;
}

p {
  hyphens: auto;
  text-align: justify;
}

figure {
  text-align: center;
}

figcaption {
  padding-top: 10px;
}

section {
  background-image: linear-gradient(-90deg, black, #000044);
  padding: 5px 40px 20px 40px;
  margin: 20px;
  border-radius: 15px;
  /*box-shadow: 0px 0px 15px #303030;*/
}

.navigation {
  display: flex;
  justify-content: center;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(-90deg, #000044, black);
  color: white;
  margin: 0px 10px 0px 10px;
  padding: 10px 20px 10px 20px;
  border-bottom: solid silver 1px;
  border-right: solid silver 1px;
  border-radius: 8px;
}

.img-bg {
  background-image: linear-gradient(-90deg, black, #000044);
  margin: 20px;
  border-radius: 15px;
  padding: 20px 5px 10px 5px;
  /*box-shadow: 0px 0px 15px #303030;*/
}

.profile {
  width: 95%;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  border: solid white;
  border-radius: 8px;
  background: white;
}

.social-link {
  text-decoration: none;
  color: white;
}
